openapi: 3.2.0
info:
  title: VA Benefits Intake Upload Status API
  description: 'The Benefits Intake API allows authorized partners to digitally submit PDF documents for VA benefit applications. The workflow uses an upload-location model: request a presigned upload URL, PUT the document and metadata, and poll the resulting GUID for processing status.'
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
servers:
- url: https://sandbox-api.va.gov/services/vba_documents/v1
  description: Sandbox
- url: https://api.va.gov/services/vba_documents/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: UploadStatus
  description: Submission status retrieval
paths:
  /uploads/{id}:
    get:
      tags:
      - UploadStatus
      summary: Get the status of an upload
      operationId: getUploadStatus
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Upload status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStatus'
  /uploads/report:
    post:
      tags:
      - UploadStatus
      summary: Bulk status report for multiple GUIDs
      operationId: bulkStatusReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '200':
          description: List of statuses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UploadStatus'
components:
  schemas:
    UploadStatus:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              const: document_upload
            attributes:
              type: object
              properties:
                guid:
                  type: string
                  format: uuid
                status:
                  type: string
                  enum:
                  - pending
                  - uploaded
                  - received
                  - processing
                  - success
                  - vbms
                  - error
                  - expired
                code:
                  type: string
                detail:
                  type: string
                location:
                  type: string
                updated_at:
                  type: string
                  format: date-time
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
externalDocs:
  description: Benefits Intake API documentation
  url: https://developer.va.gov/explore/api/benefits-intake
