openapi: 3.2.0
info:
  title: VA Benefits Claims Veterans API
  description: The Benefits Claims API allows authorized partners to submit, track, and retrieve VA benefits claims on behalf of Veterans, accredited representatives, and Veteran Service Organizations.
  version: '2'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sandbox-api.va.gov/services/claims/v2
  description: Sandbox
- url: https://api.va.gov/services/claims/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Veterans
paths:
  /veterans/{veteranId}/526:
    post:
      tags:
      - Veterans
      summary: Submit a Form 526 disability compensation claim
      operationId: submit526
      parameters:
      - name: veteranId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Form526Submission'
      responses:
        '202':
          description: Submission accepted
components:
  schemas:
    Form526Submission:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              const: form/526
            attributes:
              type: object
              properties:
                claimantCertification:
                  type: boolean
                veteranIdentification:
                  type: object
                disabilities:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      disabilityActionType:
                        type: string
                      classificationCode:
                        type: string
                      diagnosticCode:
                        type: integer
                serviceInformation:
                  type: object
                directDeposit:
                  type: object
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Benefits Claims API documentation
  url: https://developer.va.gov/explore/api/benefits-claims
