openapi: 3.2.0
info:
  title: VA Clinical Health API (FHIR) Patient API
  description: The VA Clinical Health API exposes clinical data from VA electronic health records using HL7 FHIR R4 resources. It provides authorized health-care partners read access to Patient, Allergy, Medication, Condition, Observation, Encounter, Procedure, and other clinical resources via SMART-on-FHIR authorization.
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
servers:
- url: https://sandbox-api.va.gov/services/fhir/v0/r4
  description: Sandbox
- url: https://api.va.gov/services/fhir/v0/r4
  description: Production
security:
- SmartOnFhir:
  - launch/patient
  - patient/*.read
tags:
- name: Patient
paths:
  /Patient/{id}:
    get:
      tags:
      - Patient
      summary: Read a FHIR Patient resource
      operationId: readPatient
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A FHIR Patient resource
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Patient'
components:
  schemas:
    Patient:
      type: object
      properties:
        resourceType:
          type: string
          const: Patient
        id:
          type: string
        identifier:
          type: array
          items:
            type: object
        name:
          type: array
          items:
            type: object
        telecom:
          type: array
          items:
            type: object
        gender:
          type: string
        birthDate:
          type: string
          format: date
        address:
          type: array
          items:
            type: object
  securitySchemes:
    SmartOnFhir:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox-api.va.gov/oauth2/health/v1/authorization
          tokenUrl: https://sandbox-api.va.gov/oauth2/health/v1/token
          scopes:
            launch/patient: Patient context launch
            patient/*.read: Read patient-scoped resources
            offline_access: Refresh tokens
externalDocs:
  description: Clinical Health API documentation
  url: https://developer.va.gov/explore/api/clinical-health
