openapi: 3.1.0
info:
  title: VA Appeals Status AllergyIntolerance NearbyFacilities API
  description: The Appeals Status API exposes the current status, decision-review type, and event history of a Veteran's appeal or higher-level review. It allows Veterans and authorized representatives to track progress through the appeals modernization process.
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
servers:
- url: https://sandbox-api.va.gov/services/appeals/v1
  description: Sandbox
- url: https://api.va.gov/services/appeals/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: NearbyFacilities
  description: Locate facilities near a given address or coordinates
paths:
  /nearby:
    get:
      tags:
      - NearbyFacilities
      summary: Find facilities near an address or coordinates
      operationId: findNearby
      parameters:
      - name: lat
        in: query
        schema:
          type: number
      - name: lng
        in: query
        schema:
          type: number
      - name: street_address
        in: query
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: zip
        in: query
        schema:
          type: string
      - name: drive_time
        in: query
        schema:
          type: integer
          enum:
          - 10
          - 20
          - 30
          - 40
          - 50
          - 60
          - 70
          - 80
          - 90
      responses:
        '200':
          description: Nearby facilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyCollection'
components:
  schemas:
    Address:
      type: object
      properties:
        zip:
          type: string
        city:
          type: string
        state:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
    NearbyCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
    Facility:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          example: vha_688
        type:
          type: string
          example: facility
        attributes:
          type: object
          properties:
            name:
              type: string
            facilityType:
              type: string
              enum:
              - va_health_facility
              - va_benefits_facility
              - va_cemetery
              - vet_center
            classification:
              type: string
            website:
              type: string
              format: uri
            lat:
              type: number
            long:
              type: number
            timeZone:
              type: string
            address:
              $ref: '#/components/schemas/Addresses'
            phone:
              $ref: '#/components/schemas/Phone'
            hours:
              $ref: '#/components/schemas/Hours'
            services:
              type: object
            visn:
              type: string
    Hours:
      type: object
      additionalProperties:
        type: string
    Phone:
      type: object
      properties:
        main:
          type: string
        fax:
          type: string
        afterHours:
          type: string
        patientAdvocate:
          type: string
        mentalHealthClinic:
          type: string
        enrollmentCoordinator:
          type: string
        pharmacy:
          type: string
    Addresses:
      type: object
      properties:
        mailing:
          $ref: '#/components/schemas/Address'
        physical:
          $ref: '#/components/schemas/Address'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: Appeals Status API documentation
  url: https://developer.va.gov/explore/api/appeals-status
