openapi: 3.2.0
info:
  title: VA Facilities Services API
  description: The Department of Veterans Affairs Facilities API provides programmatic access to information about VA medical centers, clinics, vet centers, benefits offices, and cemeteries across the United States. Consumers can search by location, list facilities by type, retrieve details, and access services offered, operating hours, and patient-satisfaction or wait-time data where published.
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
  termsOfService: https://developer.va.gov/terms-of-service
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sandbox-api.va.gov/services/va_facilities/v1
  description: Sandbox
- url: https://api.va.gov/services/va_facilities/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: Services
  description: Health, benefits, and other services offered at facilities
paths:
  /facilities/{id}/services:
    get:
      tags:
      - Services
      summary: List services offered by a facility
      operationId: getFacilityServices
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Service list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Service'
components:
  schemas:
    Service:
      type: object
      properties:
        name:
          type: string
        serviceId:
          type: string
        link:
          type: string
        active:
          type: boolean
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
externalDocs:
  description: VA Facilities API documentation
  url: https://developer.va.gov/explore/api/va-facilities
