openapi: 3.2.0
info:
  title: VA Benefits Claims Power of Attorney API
  description: The Benefits Claims API allows authorized partners to submit, track, and retrieve VA benefits claims on behalf of Veterans, accredited representatives, and Veteran Service Organizations.
  version: '2'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sandbox-api.va.gov/services/claims/v2
  description: Sandbox
- url: https://api.va.gov/services/claims/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Power of Attorney
  description: Representation requests and POA management
paths:
  /veterans/{veteranId}/power-of-attorney:
    get:
      tags:
      - Power of Attorney
      summary: Get current POA for a Veteran
      operationId: getPOA
      parameters:
      - name: veteranId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Current POA
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerOfAttorney'
components:
  schemas:
    PowerOfAttorney:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              properties:
                code:
                  type: string
                name:
                  type: string
                phoneNumber:
                  type: string
                type:
                  type: string
                  enum:
                  - organization
                  - individual
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Benefits Claims API documentation
  url: https://developer.va.gov/explore/api/benefits-claims
