openapi: 3.2.0
info:
  title: VA Facilities Nearby Facilities API
  description: The Department of Veterans Affairs Facilities API provides programmatic access to information about VA medical centers, clinics, vet centers, benefits offices, and cemeteries across the United States. Consumers can search by location, list facilities by type, retrieve details, and access services offered, operating hours, and patient-satisfaction or wait-time data where published.
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
  termsOfService: https://developer.va.gov/terms-of-service
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sandbox-api.va.gov/services/va_facilities/v1
  description: Sandbox
- url: https://api.va.gov/services/va_facilities/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: NearbyFacilities
  description: Locate facilities near a given address or coordinates
paths:
  /nearby:
    get:
      tags:
      - NearbyFacilities
      summary: Find facilities near an address or coordinates
      operationId: findNearby
      parameters:
      - name: lat
        in: query
        schema:
          type: number
      - name: lng
        in: query
        schema:
          type: number
      - name: street_address
        in: query
        schema:
          type: string
      - name: city
        in: query
        schema:
          type: string
      - name: state
        in: query
        schema:
          type: string
      - name: zip
        in: query
        schema:
          type: string
      - name: drive_time
        in: query
        schema:
          type: integer
          enum:
          - 10
          - 20
          - 30
          - 40
          - 50
          - 60
          - 70
          - 80
          - 90
      responses:
        '200':
          description: Nearby facilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearbyCollection'
components:
  schemas:
    Address:
      type: object
      properties:
        zip:
          type: string
        city:
          type: string
        state:
          type: string
        address1:
          type: string
        address2:
          type: string
        address3:
          type: string
    NearbyCollection:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
    Phone:
      type: object
      properties:
        main:
          type: string
        fax:
          type: string
        afterHours:
          type: string
        patientAdvocate:
          type: string
        mentalHealthClinic:
          type: string
        enrollmentCoordinator:
          type: string
        pharmacy:
          type: string
    Addresses:
      type: object
      properties:
        mailing:
          $ref: '#/components/schemas/Address'
        physical:
          $ref: '#/components/schemas/Address'
    Hours:
      type: object
      additionalProperties:
        type: string
    Facility:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
          example: vha_688
        type:
          type: string
          example: facility
        attributes:
          type: object
          properties:
            name:
              type: string
            facilityType:
              type: string
              enum:
              - va_health_facility
              - va_benefits_facility
              - va_cemetery
              - vet_center
            classification:
              type: string
            website:
              type: string
              format: uri
            lat:
              type: number
            long:
              type: number
            timeZone:
              type: string
            address:
              $ref: '#/components/schemas/Addresses'
            phone:
              $ref: '#/components/schemas/Phone'
            hours:
              $ref: '#/components/schemas/Hours'
            services:
              type: object
            visn:
              type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
externalDocs:
  description: VA Facilities API documentation
  url: https://developer.va.gov/explore/api/va-facilities
