openapi: 3.2.0
info:
  title: VA Benefits Intake Upload Location API
  description: 'The Benefits Intake API allows authorized partners to digitally submit PDF documents for VA benefit applications. The workflow uses an upload-location model: request a presigned upload URL, PUT the document and metadata, and poll the resulting GUID for processing status.'
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
servers:
- url: https://sandbox-api.va.gov/services/vba_documents/v1
  description: Sandbox
- url: https://api.va.gov/services/vba_documents/v1
  description: Production
security:
- ApiKeyAuth: []
tags:
- name: UploadLocation
  description: Request upload locations
paths:
  /uploads:
    post:
      tags:
      - UploadLocation
      summary: Request an upload location
      operationId: createUpload
      responses:
        '202':
          description: Upload location issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadLocationResponse'
components:
  schemas:
    UploadLocationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
            type:
              type: string
              const: document_upload
            attributes:
              type: object
              properties:
                guid:
                  type: string
                  format: uuid
                location:
                  type: string
                  format: uri
                status:
                  type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
externalDocs:
  description: Benefits Intake API documentation
  url: https://developer.va.gov/explore/api/benefits-intake
