openapi: 3.2.0
info:
  title: VA Clinical Health API (FHIR) Observation API
  description: The VA Clinical Health API exposes clinical data from VA electronic health records using HL7 FHIR R4 resources. It provides authorized health-care partners read access to Patient, Allergy, Medication, Condition, Observation, Encounter, Procedure, and other clinical resources via SMART-on-FHIR authorization.
  version: '1'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
servers:
- url: https://sandbox-api.va.gov/services/fhir/v0/r4
  description: Sandbox
- url: https://api.va.gov/services/fhir/v0/r4
  description: Production
security:
- SmartOnFhir:
  - launch/patient
  - patient/*.read
tags:
- name: Observation
paths:
  /Observation:
    get:
      tags:
      - Observation
      summary: Search Observation resources
      operationId: searchObservations
      parameters:
      - name: patient
        in: query
        required: true
        schema:
          type: string
      - name: category
        in: query
        schema:
          type: string
      - name: code
        in: query
        schema:
          type: string
      responses:
        '200':
          description: FHIR Bundle of Observation
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      properties:
        resourceType:
          type: string
          const: Bundle
        type:
          type: string
        total:
          type: integer
        entry:
          type: array
          items:
            type: object
            properties:
              resource:
                type: object
              fullUrl:
                type: string
                format: uri
  securitySchemes:
    SmartOnFhir:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://sandbox-api.va.gov/oauth2/health/v1/authorization
          tokenUrl: https://sandbox-api.va.gov/oauth2/health/v1/token
          scopes:
            launch/patient: Patient context launch
            patient/*.read: Read patient-scoped resources
            offline_access: Refresh tokens
externalDocs:
  description: Clinical Health API documentation
  url: https://developer.va.gov/explore/api/clinical-health
