openapi: 3.2.0
info:
  title: VA Benefits Claims API
  description: The Benefits Claims API allows authorized partners to submit, track, and retrieve VA benefits claims on behalf of Veterans, accredited representatives, and Veteran Service Organizations.
  version: '2'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sandbox-api.va.gov/services/claims/v2
  description: Sandbox
- url: https://api.va.gov/services/claims/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Claims
  description: Veteran benefits claims operations
paths:
  /veterans/{veteranId}/claims:
    get:
      tags:
      - Claims
      summary: List a Veteran's claims
      operationId: listClaims
      parameters:
      - name: veteranId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claims list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClaimsResponse'
  /veterans/{veteranId}/claims/{id}:
    get:
      tags:
      - Claims
      summary: Retrieve a single claim
      operationId: getClaim
      parameters:
      - name: veteranId
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Claim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Claim'
components:
  schemas:
    Claim:
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          type: string
        type:
          type: string
          example: claim
        attributes:
          type: object
          properties:
            baseEndProductCode:
              type: string
            claimDate:
              type: string
              format: date
            claimType:
              type: string
            claimPhaseDates:
              type: object
            decisionLetterSent:
              type: boolean
            developmentLetterSent:
              type: boolean
            documentsNeeded:
              type: boolean
            endProductCode:
              type: string
            evidenceWaiverSubmitted5103:
              type: boolean
            lighthouseId:
              type: string
            status:
              type: string
              enum:
              - PENDING
              - CLAIM_RECEIVED
              - INITIAL_REVIEW
              - EVIDENCE_GATHERING_REVIEW_DECISION
              - PREPARATION_FOR_NOTIFICATION
              - COMPLETE
    ClaimsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Claim'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Benefits Claims API documentation
  url: https://developer.va.gov/explore/api/benefits-claims
