openapi: 3.2.0
info:
  title: VA Benefits Claims Intent To File API
  description: The Benefits Claims API allows authorized partners to submit, track, and retrieve VA benefits claims on behalf of Veterans, accredited representatives, and Veteran Service Organizations.
  version: '2'
  contact:
    name: VA API Platform
    url: https://developer.va.gov/support/contact-us
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sandbox-api.va.gov/services/claims/v2
  description: Sandbox
- url: https://api.va.gov/services/claims/v2
  description: Production
security:
- BearerAuth: []
tags:
- name: Intent To File
  description: Intent to File operations
paths:
  /veterans/{veteranId}/intent-to-file:
    post:
      tags:
      - Intent To File
      summary: Submit an Intent to File
      operationId: submitIntentToFile
      parameters:
      - name: veteranId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntentToFile'
      responses:
        '201':
          description: Intent recorded
components:
  schemas:
    IntentToFile:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              const: intent_to_file
            attributes:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - compensation
                  - pension
                  - survivor
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: Benefits Claims API documentation
  url: https://developer.va.gov/explore/api/benefits-claims
